
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Roboto&display=swap');

  body{
    box-sizing: border-box;

    margin:0;
}
header{
    background-color: blue;
    width: 100%;
    box-shadow: 0 5px 13px 3px grey;
    box-sizing: border-box;
    padding: 5%;
    font-family: 'MuseoModerno', cursive;
}
#container{
    color: white;
    font-weight: bold;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
#container h2{
    text-align: left;
    font-size: 20pt;
}
#container input{
    background-color: darkblue;
    border-radius: 50px;
    border:0;
    color: white;
    padding: 3% ;
    font-size: large;
    align-self: stretch;
}
ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-family: Roboto;
}
li{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: row;
    border-bottom: solid dimgrey 1px;
    width: 100%;
    color: navy;
}
li img{
    border-radius: 50%;
    border: 0;
    box-shadow: 0 1px 5px 2px rgba(0,0,0,0.2);
    /*padding: 10px;*/
    margin: 2vh 5%;
}
li .data{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    font-size: 130%;

}
li:hover{
    background-color: rgba(200,250,255,0.5);

}
li:active{
    background-color: cornflowerblue;

}
li h4{
    font-size: larger;
    margin-bottom: 1vh;
}
li p{
    margin-top: 1vh;
    color: midnightblue;
}